.blog {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
 }

.blog-title {
    margin: 10vh 20vw 0 20vw;
    font-weight: 800;
}

.article-list {
    margin: 8vh 20vw 0 20vw;
    list-style: none;
}

.article-title {
    padding: 1vh 0 1vh 0;
}

.article-link {
    text-decoration: none;
}

.article-title:hover {
    color: black;
    text-decoration: underline;
}